@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flight-dashboard {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.filter-container button.active {
  background-color: rgb(67 56 202);
  color: #fff;
}

.flights-container {
  margin-top: 20px;
}

.flight {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.flight.updated {
  background-color: #ffe6e6; /* Red background color */
  animation: blink 1s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.flight-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.flight-header h2 {
  margin: 0;
}

.flight-header .badge {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
}

.flight-info {
  margin-bottom: 20px;
}

.flight-info p {
  margin-bottom: 10px;
}

.flight-info strong {
  font-weight: bold;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}